.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  height: 60px;
  padding: 0 20px;
}

.brand {
  display: flex;
  align-items: center;
}

.brand a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-buttons button {
  background-color: white;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

/* .login-buttons button:first-child {
  margin-right: 10px;
} */