.grid-page {
    display: grid;
    grid-template-columns: auto 400px;
}

.hug-bottom{
position: absolute;
bottom: 0;
}

.grid-search {
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px
}