table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th{
    font-size: larger;
    padding-top: 1%;
    padding-bottom: 1%;
}

td{
    text-align: center;
    margin-top: 1%;
}

tr{
    border-bottom: 1pt solid black;
}

.filter{
    text-align: left;
}

.no-result-found{
    text-align: center;
    padding-top: 2%;
    font-size: larger;
}