.table-edit-rooms-panel {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
  }
  .hotel-edit-rooms-container {
    display: flex;
    flex-direction: column;
  }
  
  .room-edit-rooms-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .room-edit-rooms-table th,
  .room-edit-rooms-table td {
    text-align: center;
  }